.input-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.box {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid grey;
    width: 30%;
    box-shadow: 0 10px 20px 3px rgba(50, 50, 93, 0.25);
}

.box-subject {
    text-align: center;
}

.box-main {
    width: 100%;
    display: table;
    padding-top: 10px;
}

.box-main__input-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 80%;
    padding-left: 10px;
}

.box-main__input {
    width: 100%;
    padding: 5px;
    padding-right: 20px;
    text-align: end;
}

.box-main__btn-wrapper {
    display: table-cell;
    width: 20%;
}

.box-main__btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1px;
}

.box-submit {
    display: flex;
    justify-content: start;
}

.box-submit__btn {
    padding: 5px;
    width: 30%;
}
